@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

.donation-hero {
    /* padding: 0 5%; */
    position: relative;
}

.donation-hero-img {
    display: flex;
}

.donation-hero-img-overlay {
    width: 35%;
    position: relative;
}


.opacity-20 {
    /* opacity: 75%; */
    opacity: 0.3;
    background: var(--BLACK, #000);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.opacity-50 {
    /* opacity: 90%; */
    opacity: 0.8;
    background: var(--BLACK, #000);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.donation-hero-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 17% 0% 0% 5%;
    /* width: 75%; */
}

.donation-hero-txt h1 {
    color: var(--WHITE, #FFF);
    font-size: 40px;
    font-weight: 700;
    line-height: 64px; /* 104.167% */
}

.donation-hero-txt h1 span {
    font-size: 56px;
}

.donation-hero-txt p {
    color: var(--WHITE, #FFF);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.one-time-donation-inactive.inactive {
    border: 1px solid #000;
    border-right: none;
    background: #FFF;
    color: #0E811B;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding: 1% 5%;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.one-time-donation-inactive.inactive:hover {
    border-right: 3px solid #FFF;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: #0E811B;
    color: #FFF;
}

.monthly-donation-active.active {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding: 1% 5%;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.donation-btn-opt {
    display: flex;
    padding: 3% 5%;
}

.one-time-btn {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding: 1% 5%;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.one-time-btn:hover {
    background: #0c6c17;
}

.monthly-btn {
    border: 1px solid #000;
    border-left: none;
    background: #FFF;
    color: #0E811B;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding: 1% 5%;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.monthly-btn:hover {
    border-left: 3px solid #FFF;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background: #0E811B;
    color: #FFF;
}

.one-time-donation-container {
    padding: 4% 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.monthly-donation-container {
    display: none;
}

.one-time-donation-container.hide {
    display: none;
}

.monthly-donation-container.hide {
    padding: 4% 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.donation-btn-txt {
    width: 45%;
    background: #FFF;
    padding: 1% 0;
    margin: 2% 5%;
}

.donation-btn-txt h5 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.donation-btn-txt p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 1% 0 4% 0;
}

.donation-btn-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.donation-btn-selection button {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 30%;
    padding: 2% 5%;
    border-radius: 6px;
    cursor: pointer;
}

.donation-btn-selection button:hover {
    border: none;
    background: #0E811B;
    color: #FFF;
}

.donation-btn-left.active, .donation-btn-middle.active, .donation-btn-right.active {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 30%;
    padding: 2% 5%;
    border-radius: 6px;
    cursor: pointer;
}

.donation-monthly-btn-left.active, .donation-monthly-btn-middle.active, .donation-monthly-btn-right.active {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 30%;
    padding: 2% 5%;
    border-radius: 6px;
    cursor: pointer;
}

.donation-btn-input {
    position: relative;
}

.donation-btn-input input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2% 5%;
    outline: 0;
}

.tool-tip {
    position: absolute;
    top: -40%;
    left: 5%;
    display: none;
    transition: opacity 0.15s;
}

.donation-btn-input:hover .tool-tip{
    display: block;
    pointer-events: none;
    white-space: nowrap;
    border: none;
    color: #FFF;
    background-color: #0E811B;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    /* width: 50%; */
    padding: 0.5% 1%;
    /* border-radius: 50px; */
}

.donation-btn-input:hover ::placeholder{
   visibility: hidden;
}

.agreement {
   margin: 3% 0 3% 0;
   display: flex;
   align-items: center;
   gap: 3%;
}

.agreement input {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.agreement span {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.dedicated-input input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 2% 5%;
    outline: 0;
}
.dedicated-input-monthly input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 2% 5%;
    outline: 0;
}

.dedicated-input {
    display: none;
}
.dedicated-input-monthly {
    display: none;
}

.dedicated-input.visible {
    display: block;
}
.dedicated-input-monthly.visible {
    display: block;
}

.donation-img {
    width: 40%;
    position: relative;
}

.donation-img p {
    position: absolute;
    bottom: -5%;
    left: 19%;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background: var(--Pry-color, #0E811B);
    padding: 2%;
}

.donation-form {
    margin: 3% 0;
    background: var(--Pry-color, #0E811B);
    padding: 1% 5% 2% 5%;
}

.donation-form h3 {
    color: var(--WHITE, #FFF);
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1%;
}

/* form {
    border: 1px solid #000;
} */

.label-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.label-input {
    width: 45%;
    position: relative;
}

.label-input label {
    color: var(--WHITE, #FFF);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 2%;
}

.label-input label span {
    color: red;
    font-weight: 400;
}

.optional-input label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.optional-input label span {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.label-input input {
    border: none;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2%;
    outline: 0;
}

.form-tool-tip {
    position: absolute;
    top: 40%;
    left: 5%;
    display: none;
    transition: opacity 0.15s;
}

.label-input:hover .form-tool-tip {
    display: block;
    pointer-events: none;
    white-space: nowrap;
    border: none;
    color: #FFF;
    background-color: #0E811B;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    /* width: 50%; */
    padding: 0.5% 1%;
    /* border-radius: 50px; */
}

.label-input:hover ::placeholder{
    visibility: hidden;
 }

.anonymous {
    margin: 3% 0;
    display: flex;
    /* align-items: center; */
    gap: 3%;
 }
 
 .anonymous-checkbox {
     height: 20px;
     width: 20px;
 }
 
 .anonymous span {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
 }

 form.hide {
    display: none;
 }


 /* .anonymous-checkbox {
    margin: 3% 5%;
    display: flex;
    align-items: center;
    gap: 1%;
 }
 
 .anonymous-checkbox input {
     height: 20px;
     width: 20px;
 }
 
 .anonymous-checkbox span {
    color: var(--BLACK, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
 } */

 .payment-container {
    margin: 3% 0 0 0;
    padding: 0 5% 3% 5%;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    background: #FFF;
 }
 
 .payment-container h3 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1%;
 }

 .payment-container p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2%;
 }

 .payment-method {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
 }

 .payment-method button {
    width: 20%;
    padding: 1%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    cursor: pointer;
 }

 .payment-method button:hover {
    background: #0E811B;
    color: #FFF;
 }

 .payment-method .card-payment {
    border-radius: 10px;
    background: #0E811B;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
 }

 .card-payment-container {
    display: flex;
    justify-content: space-between;
    /* display: none; */
 }

 .card-payment-details {
    width: 47%;
    position: relative;
}

.card-payment-label-input label {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 1%;
}

.card-payment-label-input input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2%;
    outline: 0;
    margin-bottom: 3%;
}

.card-payment-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-input-privacy {
    width: 50%;
}

.label-input-privacy label, .label-input-security label {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 2%;
}

.label-input-privacy input, .label-input-security input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    outline: 0;
}

.label-input-privacy input {
    padding: 4% 5%;
}

.label-input-security {
    width: 40%;
}

.security-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.security-question input {
    padding: 5% 5%;
    width: 80%;
}

.security-question-img {
    width: 10%;
    cursor: pointer;
}

.cvv-overlay {
    display: none;
    background-color: #0E811B;
    width: 50%;
    padding: 4% 0 4% 0;
    /* scale: 60%; */
    position: absolute;
    top: 0;
    right: 0;
}

.cvv-overlay.hide {
    display: block;
}

.black-bg {
    background-color: #000;
    padding: 4%;
}

.cvv-overlay h6 {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 3% 0;
}

.cvv-num {
    background-color: #FFF;
    width: 80%;
    margin: 0 auto;
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2%;
}

.cvv-num span {
    color: #000;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    /* text-align: right; */
}

.red-circle {
    border: 1px solid red;
    border-radius: 50%;
    padding: 1%;
}

.cvv-overlay p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 2%;
}

.donation-btn-cont {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    background-color: #0E811B;
    color: #fff;
    border: none;
    padding: 1% 5%;
    transition: ease 0.2s;
    text-decoration: none;
    border-radius: 6px;
    position: relative;
    margin-top: 5%;
}

.donation-btn-cont:hover {
    background-color: #0c6c17;
}

.donation-btn-cont img {
    width: 8%;
    vertical-align: middle;
    animation: ease-in-out;
}

.donation-btn-cont:hover img {
    display: none;
}

.donation-btn-cont .btn-img-animation {
    display: none;
    position: absolute;
    left: 5%;
    animation: scroll 2s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.donation-btn-cont:hover .btn-img-animation {
    display: block;
}

.donation-btn-cont p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    /* text-decoration: none; */
}

.card-types-container {
    width: 45%;
}

.card-types {
    display: flex;
    justify-content: start;
    gap: 10%;
}

.card-types img {
    width: 10%;
}



.security-privacy-container {
    padding: 3% 5%;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.bank-transfer-payment-container {
    display: none;
}

.bank-transfer-payment-container .bank-trans {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
    width: 45%;
}

.bank-transfer-payment-details {
    display: flex;
    gap: 5%;
}

.bank-transfer-payment-wrapper {
    display: flex;
    gap: 10%;
    width: 40%;
}

.payment-img {
    width: 15%;
}

.bank-transfer-payment-info {
    display: flex;
    gap: 10%;
    /* justify-content: space-between; */
    width: 80%;
}

/* .bank-transfer-payment {
    width: 55%;
} */

.bank-transfer-payment p {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15%;
}

/* .bank-transfer-account {
    width: 40%;
} */

.bank-transfer-account p {
    color: var(--Pry-color, #0E811B);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12%;
}

.copy-img {
    width: 8%;
    margin-left: 2%;
    cursor: pointer;
}

.ussd-payment-container {
    display: none;
}

.ussd-payment-container .ussd-trans {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    /* margin-top: 3%; */
    width: 55%;
}

.ussd-transfer-details {
    display: flex;
    gap: 5%;
}

.ussd-transfer-container {
    width: 60%;
}

.ussd-transfer-wrapper {
    display: flex;
    gap: 5%;
    /* width: 60%; */
    margin-bottom: 3%;
}

.ussd-payment-img {
    width: 10%;
}

.ussd-transfer-info {
    display: flex;
    gap: 5%;
    /* justify-content: space-between; */
    width: 85%;
}

.ussd-transfer p {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15%;
}

.ussd-transfer-account p {
    color: var(--Pry-color, #0E811B);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20%;
}

.confirm-transfer-container {
    display: flex;
    gap: 5%;
}

.confirm-transfer-container p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.confirm-transfer-container span {
    display: flex;
    gap: 10%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.confirm-transfer-container span a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.confirm-transfer-container span a:hover {
    color: #0E811B;
}

.ussd-card-types-container {
    width: 45%;
}

.ussd-card-types {
    display: flex;
    justify-content: start;
    gap: 7%;
}

.ussd-card-types img {
    width: 12%;
}

.paypal-payment-container {
    display: flex;
    justify-content: space-between;
    display: none;
 }

 .paypal-payment-details {
    width: 47%;
}

.paypal-payment-label-input label {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 1%;
}

.paypal-payment-label-input input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2%;
    outline: 0;
    margin-bottom: 3%;
}

.paypal-card-types-container {
    width: 45%;
}

/* .paypal-card-types {
    display: flex;
    justify-content: start;
    gap: 10%;
} */

.paypal-card-types img {
    width: 20%;
}


.security-privacy-container h3 {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    /* margin-bottom: 1%; */
}

.security-privacy-container p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.about-us {
    margin: 3% 5%;
}

.about-us h5 {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
}

.about-us p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px; /* 220% */
}

/* JavaScript Functionality*/
.card-inactive {
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
}

.payment-active {
    background: #0E811B;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

.card-inactive.inactive {
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
}

.bank-active.active {
    background: #0E811B;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

.ussd-active.active {
    background: #0E811B;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

.paypal-active.active {
    background: #0E811B;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

.card-payment-container.hide {
    display: none;
}

.bank-transfer-payment-container.hide {
    display: block;
}

.ussd-payment-container.hide {
    display: block;
}

.paypal-payment-container.hide {
    display: flex;
}


@media screen and (max-width: 478px) {
    .donation-hero-img-overlay {
        width: 50%;
        position: relative;
    }
    
    .hide-opacity-20 {
        display: none;
    }
    
    .opacity-50 {
        /* opacity: 90%; */
        opacity: 0.5;
        background: #0202022a;
        position: absolute;
        z-index: 2;
    }
    
    .donation-hero-txt {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20% 0% 0% 5%;
        /* z-index: 100; */
        /* width: 75%; */
        background-color: #0202022a;
        /* opacity: 1; */
    }
    
    .donation-hero-txt h1 {
        color: var(--WHITE, #FFF);
        font-size: 22px;
        font-weight: 700;
        line-height: 32px; /* 104.167% */
    }

    .donation-hero-txt h1 span {
        font-size: 28px;
    }
    
    .donation-hero-txt p {
        color: var(--WHITE, #FFF);
        font-size: 9px;
        font-weight: 600;
        line-height: 14px;
    }

    .one-time-donation-inactive.inactive {
        border: 1px solid #000;
        border-right: none;
        background: #FFF;
        color: #0E811B;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        width: 50%;
        padding: 2% 5%;
        border-radius: 6px 0 0 6px;
        cursor: pointer;
    }
    
    .one-time-donation-inactive.inactive:hover {
        border-right: 3px solid #FFF;
        border-left: none;
        border-top: none;
        border-bottom: none;
        background: #0E811B;
        color: #FFF;
    }
    
    .monthly-donation-active.active {
        border: none;
        background: #0E811B;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        width: 50%;
        padding: 2% 5%;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
    }
    
    .donation-btn-opt {
        display: flex;
        padding: 3% 5%;
    }
    
    .one-time-btn {
        border: none;
        background: #0E811B;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        width: 50%;
        padding: 2% 5%;
        border-radius: 6px 0 0 6px;
        cursor: pointer;
    }
    
    .one-time-btn:hover {
        background: #0c6c17;
    }
    
    .monthly-btn {
        border: 1px solid #000;
        border-left: none;
        background: #FFF;
        color: #0E811B;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        width: 50%;
        padding: 2% 5%;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
    }
    
    .monthly-btn:hover {
        border-left: 1px solid #000;
        border-right: none;
        border-top: none;
        border-bottom: none;
        background: #0E811B;
        color: #FFF;
    }
    
    .one-time-donation-container {
        padding: 4% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        box-shadow: none;
        margin: 0 5%;
    }
    
    .monthly-donation-container {
        display: none;
    }
    
    .one-time-donation-container.hide {
        display: none;
    }
    
    .monthly-donation-container.hide {
        padding: 4% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        box-shadow: none;
        margin: 0 5%;
    }
    
    .donation-btn-txt {
        width: 100%;
        background: #FFF;
        padding: 1% 0;
        margin: 2% 5%;
    }
    
    .donation-btn-txt h5 {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 5%;
    }
    
    .donation-btn-txt p {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        margin: 1% 0 4% 0;
    }
    
    .donation-btn-selection {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }
    
    .donation-btn-selection button {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        width: 30%;
        padding: 2% 5%;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .donation-btn-selection button:hover {
        border: none;
        background: #0E811B;
        color: #FFF;
    }

    .donation-btn-left.active, .donation-btn-middle.active, .donation-btn-right.active {
        border: none;
        background: #0E811B;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        width: 30%;
        padding: 2% 5%;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .donation-btn-input {
        position: relative;
    }
    
    .donation-btn-input input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2% 5%;
        outline: 0;
    }
    
    .tool-tip {
        position: absolute;
        top: -40%;
        left: 5%;
        display: none;
        transition: opacity 0.15s;
    }
    
    .donation-btn-input:hover .tool-tip{
        display: block;
        pointer-events: none;
        white-space: nowrap;
        border: none;
        color: #FFF;
        background-color: #0E811B;
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
        /* width: 50%; */
        padding: 0.5% 1%;
        /* border-radius: 50px; */
    }
    
    .donation-btn-input:hover ::placeholder{
       visibility: hidden;
    }
    
    .agreement {
       margin: 3% 0 3% 0;
       display: flex;
       align-items: center;
       gap: 3%;
    }
    
    .agreement input {
        height: 18px;
        width: 18px;
    }
    
    .agreement span {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }
    
    .dedicated-input input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2% 5%;
        outline: 0;
    }
    .dedicated-input-monthly input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2% 5%;
        outline: 0;
    }
    
    .dedicated-input {
        display: none;
    }
    
    .dedicated-input.visible {
        display: block;
    }
    
    .donation-img {
        width: 100%;
        position: relative;
    }
    
    .donation-img p {
        position: absolute;
        bottom: -5%;
        left: 14%;
        color: var(--WHITE, #FFF);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        background: var(--Pry-color, #0E811B);
        padding: 2%;
    }
    
    .donation-form {
        margin: 3% 0;
        background: var(--Pry-color, #0E811B);
        padding: 3% 5% 2% 5%;
    }
    
    .donation-form h3 {
        color: var(--WHITE, #FFF);
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 3%;
    }
    
    /* form {
        border: 1px solid #000;
    } */
    
    .label-input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-bottom: 3%; */
    }
    
    .label-input {
        width: 100%;
    }
    
    .label-input label {
        color: var(--WHITE, #FFF);
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin-top: 3%;
    }
    
    .label-input label span {
        color: red;
        font-weight: 400;
    }
    
    .optional-input label {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .optional-input label span {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }
    
    .label-input input {
        border: none;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2%;
        outline: 0;
        margin-bottom: 3%;
    }

    .form-tool-tip {
        position: absolute;
        top: -40%;
        left: 5%;
        display: none;
        transition: opacity 0.15s;
    }
    
    .label-input:hover .form-tool-tip {
        display: block;
        pointer-events: none;
        white-space: nowrap;
        border: none;
        color: #FFF;
        background-color: #0E811B;
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
        /* width: 50%; */
        padding: 0.5% 1%;
        /* border-radius: 50px; */
    }
    
    .anonymous {
        margin: 3% 0;
        display: flex;
        /* align-items: center; */
        gap: 3%;
     }
     
     .anonymous-checkbox {
         height: 20px;
         width: 20px;
     }
     
     .anonymous span {
        color: var(--WHITE, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
     }
    
     form.hide {
        display: none;
     }
    
    
     /* .anonymous-checkbox {
        margin: 3% 5%;
        display: flex;
        align-items: center;
        gap: 1%;
     }
     
     .anonymous-checkbox input {
         height: 20px;
         width: 20px;
     }
     
     .anonymous-checkbox span {
        color: var(--BLACK, #000);
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
     } */
    
     .payment-container {
        margin: 3% 0 0 0;
        padding: 0 0% 3% 0%;
        border-top: 0.5px solid #000;
        border-bottom: none;
        background: #FFF;
        margin-top: 5%;
     }
     
     .payment-container h3 {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        margin: 0 5% 1% 5%;
     }
    
     .payment-container p {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        margin: 0 5% 2% 5%;
     }
    
     .payment-method {
        display: flex;
        justify-content: unset;
        gap: 5%;
        margin-bottom: 3%;
        margin-top:5%;
        width: 300%;
     }
    
     .payment-method button {
        width: 40%;
        padding: 1%;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        cursor: pointer;
        float: right;
     }
    
     .payment-method button:hover {
        background: #0E811B;
        color: #FFF;
     }
    
     .payment-method .card-payment {
        border-radius: 10px;
        background: #0E811B;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
     }
    
     .card-payment-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        /* display: none; */
     }
    
     .card-payment-details {
        width: 100%;
        margin: 0 5% 0% 5%;
    }
    
    .card-payment-label-input label {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin-bottom: 1%;
    }
    
    .card-payment-label-input input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2%;
        outline: 0;
        margin-bottom: 3%;
    }
    
    .card-payment-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .label-input-privacy {
        width: 50%;
    }
    
    .label-input-privacy label, .label-input-security label {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin-bottom: 2%;
    }
    
    .label-input-privacy input, .label-input-security input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        outline: 0;
    }
    
    .label-input-privacy input {
        padding: 4% 5%;
    }
    
    .label-input-security {
        width: 40%;
    }
    
    .security-question {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .security-question input {
        padding: 5% 5%;
        width: 80%;
    }
    
    .security-question img {
        width: 10%;
    }
    
    .donation-btn-cont {
        width: 92%;
        display: flex;
        justify-content: center;
        gap: 2%;
        align-items: center;
        background-color: #0E811B;
        color: #fff;
        border: none;
        padding: 1% 5%;
        transition: ease 0.2s;
        text-decoration: none;
        border-radius: 6px;
        position: relative;
        margin-top: 5%;
    }
    
    .donation-btn-cont:hover {
        background-color: #0c6c17;
    }
    
    .donation-btn-cont img {
        width: 8%;
        vertical-align: middle;
        animation: ease-in-out;
    }
    
    .donation-btn-cont:hover img {
        display: none;
    }
    
    .donation-btn-cont .btn-img-animation {
        display: none;
        position: absolute;
        left: 5%;
        animation: scroll 2s linear infinite;
    }
    
    @keyframes scroll {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }
    
    .donation-btn-cont:hover .btn-img-animation {
        display: block;
    }
    
    .donation-btn-cont p {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        /* text-decoration: none; */
    }
    
    .card-types-container {
        width: 100%;
    }
    
    .card-types {
        display: flex;
        justify-content: start;
        gap: 10%;
        margin: 0 5% 5% 5%;
    }
    
    .card-types img {
        width: 10%;
    }
    
    
    
    .security-privacy-container {
        padding: 3% 5%;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    .bank-transfer-payment-container {
        display: none;
    }
    
    .bank-transfer-payment-container .bank-trans {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        margin-top: 5%;
        text-align: center;
        width: 100%;
    }
    
    .bank-transfer-payment-details {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    
    .bank-transfer-payment-wrapper {
        display: flex;
        gap: 10%;
        width: 100%;
        margin-top: 3%;
    }
    
    .payment-img {
        width: 15%;
    }
    
    .bank-transfer-payment-info {
        display: flex;
        gap: 10%;
        /* justify-content: space-between; */
        width: 100%;
    }
    
    .bank-transfer-payment p {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10%;
        text-align: left;
    }
    
    .bank-transfer-account p {
        color: var(--Pry-color, #0E811B);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 13%;
        text-align: left;
    }
    
    .ussd-payment-container {
        display: none;
    }
    
    .ussd-payment-container .ussd-trans {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        /* margin-top: 3%; */
        width: 100%;
    }
    
    .ussd-transfer-details {
        display: flex;
        gap: 5%;
    }
    
    .ussd-transfer-container {
        width: 100%;
    }
    
    .ussd-transfer-wrapper {
        display: flex;
        gap: 5%;
        /* width: 60%; */
        margin-bottom: 3%;
    }
    
    .ussd-payment-img {
        width: 10%;
    }
    
    .ussd-transfer-info {
        display: flex;
        gap: 3%;
        /* justify-content: space-between; */
        width: 85%;
    }
    
    .ussd-transfer p {
        color: #000;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 15%;
    }
    
    .ussd-transfer-account p {
        color: var(--Pry-color, #0E811B);
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20%;
    }
    
    .confirm-transfer-container {
        display: flex;
        gap: 5%;
    }
    
    .confirm-transfer-container p {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }
    
    .confirm-transfer-container span {
        display: flex;
        gap: 10%;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }
    
    .confirm-transfer-container span a {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }
    
    .confirm-transfer-container span a:hover {
        color: #0E811B;
    }
    
    .ussd-card-types-container {
        width: 45%;
    }
    
    .ussd-card-types {
        display: flex;
        justify-content: start;
        gap: 7%;
    }
    
    .ussd-card-types img {
        width: 12%;
    }
    
    .paypal-payment-container {
        display: flex;
        justify-content: space-between;
        display: none;
     }
    
     .paypal-payment-details {
        width: 47%;
    }
    
    .paypal-payment-label-input label {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin-bottom: 1%;
    }
    
    .paypal-payment-label-input input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2%;
        outline: 0;
        margin-bottom: 3%;
    }
    
    .paypal-card-types-container {
        width: 45%;
    }
    
    /* .paypal-card-types {
        display: flex;
        justify-content: start;
        gap: 10%;
    } */
    
    .paypal-card-types img {
        width: 40%;
    }
    
    
    .security-privacy-container h3 {
        color: #000;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 3%;
    }
    
    .security-privacy-container p {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }
    
    .about-us {
        margin: 3% 5%;
    }
    
    .about-us h5 {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
    }
    
    .about-us p {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px; /* 220% */
    }
    
    /* JavaScript Functionality*/
    .card-inactive {
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: #000;
    }
    
    .payment-active {
        background: #0E811B;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
    }
    
    .card-inactive.inactive {
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: #000;
    }
    
    .bank-active.active {
        background: #0E811B;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
    }
    
    .ussd-active.active {
        background: #0E811B;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
    }
    
    .paypal-active.active {
        background: #0E811B;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
    }
    
    .card-payment-container.hide {
        display: none;
    }
    
    .bank-transfer-payment-container.hide {
        display: block;
    }
    
    .ussd-payment-container.hide {
        display: block;
    }
    
    .paypal-payment-container.hide {
        display: flex;
    }
}