@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    scroll-behavior:smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.food-bank-hero {
    display: flex;
    align-items: center;
    margin: 5%;
    background: #F3F2F2;
}

.food-bank-hero-txt {
    width: 60%;
    /* background: #F3F2F2; */
    border-radius: 20px;
    padding: 1% 5% 0% 2%;
}

.food-bank-hero-txt h1 {
    color: var(--Pry-color, #0E811B);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
    margin-bottom: 2%;
}

.food-bank-hero-txt p {
    color: var(--BLACK, #0D0A0B);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-align: justify;
}

.food-bank-hero-img {
    width: 40%;
    /* background: #F3F2F2; */
}

.food-bank-map-container {
    margin: 5% 5% 10% 5%;
    /* background-image: url(./assets/img/pic/volunteer-holding-food-donations-collected-charity\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; */
    /* height: 80vh; */
    position: relative;
    background: #0E811B;
    display: flex;
}

.food-bank-map-overlay {
    /* border-radius: 20px;
    background: #0E811B;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1; */
}

.food-bank-map-search {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 1;
}

.food-bank-map-search input {
    border: none;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 2% 3%;
    outline: 0;
    border-radius: 10px;
}

.food-bank-map {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 80%;
    height: 500px;
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}

@media screen and (max-width: 478px) {
    .food-bank-hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 5%;
        background: #F3F2F2;
    }
    
    .food-bank-hero-txt {
        width: 100%;
        /* background: #F3F2F2; */
        border-radius: 20px;
        padding: 1% 5% 0% 2%;
    }
    
    .food-bank-hero-txt h1 {
        color: var(--Pry-color, #0E811B);
        font-size: 24px;
        font-weight: 600;
        line-height: 120%; /* 76.8px */
        margin-bottom: 2%;
    }
    
    .food-bank-hero-txt p {
        color: var(--BLACK, #0D0A0B);
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        text-align: justify;
    }
    
    .food-bank-hero-img {
        width: 100%;
        /* background: #F3F2F2; */
    }
    
    .food-bank-map-container {
        margin: 5% 5% 10% 5%;
        /* background-image: url(./assets/img/pic/volunteer-holding-food-donations-collected-charity\ \(1\).png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%; */
        /* height: 80vh; */
        position: relative;
        background: #0E811B;
        display: flex;
    }
    
    .food-bank-map-overlay {
        /* border-radius: 20px;
        background: #0E811B;
        opacity: 0.6;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1; */
    }
    
    .food-bank-map-search {
        width: 60%;
        position: absolute;
        bottom: 10%;
        left: 20%;
        z-index: 1;
    }
    
    .food-bank-map-search input {
        border: none;
        background: #FFF;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 3% 3%;
        outline: 0;
        border-radius: 10px;
    }
    
    .food-bank-map {
        position: absolute;
        top: 115%;
        /* bottom: 0; */
        left: 0;
        right: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 35%; */
    }
    
    iframe {
        width: 80%;
        height: 250px;
        overflow-clip-margin: content-box !important;
        overflow: clip !important;
    }

    .food-bank-footer {
        margin-top: 35%;
    }
}