@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 0 5%;
    background-color: #FFF;
}

.header-logo {
    width: 8%;
    cursor: pointer;
}

nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

.nav-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 4%;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: ease 0.1s;
}

.nav-links a:hover {
    color: #0E811B;
    border-bottom: 4px solid #0E811B;
    padding-bottom: 2%;
}

.nav-links .active {
    color: #0E811B;
    font-weight: 500;
    border-bottom: 4px solid #0E811B;
    padding-bottom: 2%;
}

.header-btn {
    width: 13%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: #0E811B;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 1%;
    transition: ease 0.2s;
    border-radius: 6px;
    position: fixed;
    right: 3%;
    z-index: 10;
}

.header-btn:hover {
    background-color: #0c6c17;
}

/*  */

.header-btn img {
    width: 80%;
    vertical-align: middle;
}

.header-btn .btn-img-animation {
    width: 12%;
    vertical-align: middle;
    animation: ease-in-out;
}

.header-btn:hover img {
    display: none;
}

.header-btn .btn-img-animation {
    display: none;
    position: absolute;
    left: 2%;
    bottom: 30%;
    animation: scroll 1s linear infinite;
}

.header-btn:hover .btn-img-animation {
    display: block;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.header-btn a {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}

.hamburger-icon, .close-icon {
    display: none;
    cursor: pointer;
}
.hamburger-menu {
    display: none;
}


/* Footer */
footer {
    margin: 5% 0;
}

.donate-footer {
    padding: 3% 5% 5% 5%;
    margin-bottom: 3%;
    background: #0E811B;
}

.donate-footer p {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; 100%
    /* text-transform: capitalize; */
}

.donate-btn {
    width: 15%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    /* background-color: #0E811B; */
    color: #fff;
    border: none;
    padding: 1% 0;
    transition: ease 0.2s;
    text-decoration: none;
    margin: 3% auto 0 auto;
    /* border: 1px solid #FFF; */
    border-radius: 10px;
    background: var(--Pry-color, #0E811B);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.donate-btn:hover {
    background-color: #0c6c17;
}


.donate-btn img {
    width: 15%;
    vertical-align: middle;
}

.donate-btn p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 5%;
    margin-top: 3%;
    position: relative;
}

.contact-details-left {
    /* padding-right: 5%; */
    width: 15%;
}

.contact-details-middle {
    border-left: 1px solid #0E811B;
    border-right: 1px solid #0E811B;
    padding: 0 6%;
    width: 50%;
}

.footer-subscribe {
    /* padding-left: 5%; */
    width: 25%;
}

.contact-details-left h5 {
    color: #0E811B;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
}

.contact-details-middle h5 {
    color: #0E811B;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
    text-align: center;
}

.footer-subscribe h5 {
    color: #0E811B;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
}

.contact-details-left p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 1% 0 25% 0;
}

.contact-details-middle p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0% 0 7% 0;
}

.contact-details-middle .privacy {
    text-align: center;
}

.footer-subscribe p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 1% 0 15% 0;
}

.contact-details-left a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background-color: #0E811B;
    padding: 7% 9%;
    border-radius: 10px;
    border: none;
}


.footer-subscribe-btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background-color: #0E811B;
    padding: 4% 6%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.contact-details-left a:hover, .footer-subscribe-btn:hover {
    background-color: #FFF;
    color: #0E811B;
    border: 1px solid #0E811B;
}

.overlay-subscribe {
    display: none;
}

.overlay-subscribe.hide {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
}

.close-subscribe {
    display: none;
    width: 3%;
    position: absolute;
    top: -5%;
    right: 3%;
    z-index: 1;
    cursor: pointer;
}

.close-subscribe.hide {
    display: block;
}

.overlay-subscribe-form {
    width: 45%;
}

.overlay-subscribe-form p {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
}

.overlay-subscribe-form input {
    display: block;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2%;
    outline: 0;
    margin-bottom: 5%;
}

.overlay-subscribe-form a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background-color: #0E811B;
    padding: 2% 3%;
    border-radius: 10px;
    transition: ease 0.3s;

}

.overlay-subscribe-form a:hover {
    background-color: #FFF;
    color: #0E811B;
    border: 1px solid #0E811B;
}

.overlay-subscribe-info {
    width: 45%;
}

.overlay-subscribe-info-img {
    width: 20%;
}

.overlay-subscribe-info h5 {
    color: var(--Pry-color, #0E811B);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 3% 0;
}

.overlay-subscribe-info p {
    color: #000;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.footer-socials img {
    /* width: 45%; */
    /* display: block;
    margin: 0 auto; */
}

.footer-socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    /* height: 30%; */
    border: 1px solid #0E811B;
    border-radius: 50%;
    padding: 2%;
}

.footer-socials a:hover {
    box-shadow: 0px 0px 12px 0px #0E811B;
}

.middle p {
    margin-bottom: unset;
}

.middle .privacy {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    text-align: center;
}

.slider-wrapper {
    margin: 5%;
    padding: 2% 0;
    position: relative;
    box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 4%;
    overflow: hidden;
}

.slide {
    display: flex;
    align-items: center;
    /* gap: 5%; */
   justify-content: space-between;
   animation: slideshow 8s linear infinite reverse;
}

.slide img {
    width: 10%;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* .our-partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
} */

/* .our-partners {
    width: 5%;
    -moz-animation: marquee 2s linear infinite;
        -webkit-animation: marquee 2s linear infinite;
        animation: marquee 2s linear infinite reverse;
        animation: name duration timing-function delay iteration-count direction fill-mode;
        fillmo
} */


/* @-moz-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee {
    0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%)
    }
    100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  } */


  /* Mobile Screen */
@media screen and (max-width: 478px) {
    .header-logo {
        width: 20%;
    }

    nav {
        display: none;
    }

    .nav-icons {
        width: 10%;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-menu.visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 6%;
        background-color: #FFF;
        position: absolute;
        z-index: 5;
        padding: 3% 5%;
        width: 70%;
        border-radius: 10px;
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    }

    .hamburger-menu a {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        margin-bottom: 10%;
    }

    .hamburger-menu a:last-child {
        margin-bottom: unset;
    }

    .hamburger-menu .mobile-active {
        color: var(--WHITE, #FFF);
        background-color: #0E811B;
        padding: 5% 10%;
        border-radius: 10px;
    }

    .close-icon {
        display: block;
        width: 10%;
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 1;
    }

    .close-icon.hide {
        display: none;
    }

    .hamburger-icon.hide {
        display: none;
    }

    /* Footer */
footer {
    margin: 5% 0;
}

.donate-footer {
    padding: 3% 5% 5% 5%;
    margin-bottom: 3%;
    background: #0E811B;
}

.donate-footer p {
    font-size: 16px;
    font-weight: 500;
    /* text-transform: capitalize; */
    text-align: justify;
}

.donate-btn {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    /* background-color: #0E811B; */
    margin: 10% auto;
    padding: 3% 2%;
}

.donate-btn:hover {
    background-color: #0c6c17;
}

.donate-btn img {
    width: 15%;
    vertical-align: middle;
}

.donate-btn p {
    font-size: 14px;
}

.contact-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 5%;
    margin-top: 5%;
}

.contact-details-left {
    /* padding-right: 5%; */
    width: 100%;
}

.contact-details-middle {
    border-top: 1px solid #0E811B;
    border-bottom: 1px solid #0E811B;
    border-left: none;
    border-right: none;
    padding: 5% 0% 0% 0;
    width: 100%;
    margin: 10% 0 5% 0;
}

.footer-subscribe {
    /* padding-left: 5%; */
    width: 100%;
}

.contact-details-left h5 {
    color: #0E811B;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
}

.contact-details-middle h5 {
    color: #0E811B;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
    text-align: center;
}

.footer-subscribe h5 {
    color: #0E811B;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
}

.contact-details-left p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 1% 0 10% 0;
}

.contact-details-middle p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0% 0 7% 0;
}

.footer-subscribe p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 1% 0 10% 0;
}

.contact-details-left a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background-color: #0E811B;
    padding: 3% 4%;
    border-radius: 10px;
    border: none;
}


.footer-subscribe-btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background-color: #0E811B;
    padding: 3% 4%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.contact-details-left a:hover, .footer-subscribe-btn:hover {
    background-color: #FFF;
    color: #0E811B;
    border: 1px solid #0E811B;
}

.overlay-subscribe {
    display: none;
}

.overlay-subscribe.hide {
    padding: 5%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: #FFF;
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
}

.close-subscribe {
    display: none;
    width: 5%;
    position: absolute;
    top: -20%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
}

.close-subscribe.hide {
    display: block;
}

.overlay-subscribe-form {
    width: 100%;
}

.overlay-subscribe-form p {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3%;
}

.overlay-subscribe-form input {
    display: block;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2%;
    outline: 0;
    margin-bottom: 5%;
}

.overlay-subscribe-form a {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    background-color: #0E811B;
    padding: 2% 3%;
    border-radius: 10px;
    transition: ease 0.3s;

}

.overlay-subscribe-form a:hover {
    background-color: #0E811B;
    color: #FFF;
    border: 1px solid #0E811B;
}

.overlay-subscribe-info {
    width: 100%;
    margin-bottom: 5%;
}

.overlay-subscribe-info-img {
    width: 20%;
}

.overlay-subscribe-info h5 {
    color: var(--Pry-color, #0E811B);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 3% 0;
}

.overlay-subscribe-info p {
    color: #000;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.footer-socials img {
    /* width: 45%; */
    /* display: block;
    margin: 0 auto; */
}

.footer-socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    /* height: 30%; */
    border: 1px solid #0E811B;
    border-radius: 50%;
    padding: 2%;
}

.footer-socials a:hover {
    box-shadow: 0px 0px 12px 0px #0E811B;
}

.middle p {
    margin-bottom: unset;
}

.middle .privacy {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    text-align: center;
}

.slider-wrapper {
    margin: 5%;
    padding: 2% 0;
    position: relative;
    box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 4%;
    overflow: hidden;
}

.slide {
    display: flex;
    align-items: center;
    /* gap: 5%; */
   justify-content: space-between;
   animation: slideshow 8s linear infinite reverse;
}

.slide img {
    width: 10%;
}