@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    scroll-behavior:smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.hunger-blog-hero {
    display: flex;
    margin: 5% 5% 0% 5%;
    border-radius: 20px;
    position: relative;
    height: 80vh;
}

.hunger-blog-hero-txt {
    border-radius: 20px 0 0 20px;
    padding-top: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hunger-blog-hero-txt h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    margin-bottom: 1%;
}

.hunger-blog-hero-txt p {
    color: var(--WHITE, #FFF);
    font-size: 32px;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    text-align: center;
}

.hunger-blog-hero-img {
    background-image: url(./assets/img/pic/image-23.webp);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.hunger-blog-hero-img img {
    border-radius: 0 20px 20px 0;
}

.hunger-blog-hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background: var(--BLACK, #0D0A0B);
    border-radius: 20px;
}

.our-stories {
    margin: 5% 5% 0 5%;
}

.our-stories p {
    color: var(--Pry-color, #000);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; /* 12px */
    margin-bottom: 2%;
}

.local-stories-container {
    margin-bottom: 5%;
}

.local-stories-container h3 {
    color: var(--Pry-color, #0E811B);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin-bottom: 3%;
}

.local-stories-wrapper {
    display: flex;
    justify-content: space-between;
}

.stories-wrapper {
    width: 32%;
    border-radius: 20px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 5%;
}

.stories-wrapper-img img {
    border-radius: 20px 20px 0 0;
}

.stories-wrapper-txt {
    padding-left: 5%;
}

.stories-wrapper-txt a {
    color: var(--Pry-color, #0E811B);
    font-size: 19px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
    margin: 3% 0 5% 0;
    display: block;
}

.stories-wrapper-txt p {
    color: var(--Pry-color, #0E811B);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%; /* 12px */
}

@media screen and (max-width:478px) {
    .hunger-blog-hero-txt h1 {
        color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%; /* 57.6px */
        margin-bottom: 1%;
    }
    
    .hunger-blog-hero-txt p {
        color: var(--WHITE, #FFF);
        font-size: 20px;
        font-weight: 400;
        line-height: 120%; /* 38.4px */
        text-align: center;
    }

    .our-stories p {
        color: var(--Pry-color, #000);
        font-size: 14px;
        font-weight: 400;
        line-height: 180%; /* 12px */
        margin-bottom: 2%;
    }
    
    .local-stories-container h3 {
        color: var(--Pry-color, #0E811B);
        font-size: 20px;
        font-weight: 700;
        line-height: 120%; /* 38.4px */
        margin-bottom: 3%;
    }
    
    .local-stories-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .stories-wrapper {
        width: 100%;
        border-radius: 20px;
        background: var(--WHITE, #FFF);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        padding-bottom: 5%;
        margin-bottom: 8%;
    }
    
    .stories-wrapper-img img {
        border-radius: 20px 20px 0 0;
    }
    
    .stories-wrapper-txt {
        padding-left: 5%;
    }
    
    .stories-wrapper-txt a {
        color: var(--Pry-color, #0E811B);
        font-size: 18px;
        font-weight: 700;
        line-height: 120%; /* 21.6px */
        margin: 3% 0 2% 0;
        display: block;
    }
    
    .stories-wrapper-txt p {
        color: var(--Pry-color, #0E811B);
        font-size: 18px;
        font-weight: 400;
        line-height: 120%; /* 12px */
    }
}