* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.testimonial-container {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.card-container {
    /* padding: 3%; */
    padding: 5rem;
}

.card-content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-article {
    /* width: 40%; */
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 3% 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E811B;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #0E811B;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    background: var(--Pry-color, #0E811B);
    padding: 1.5rem 0;
    margin-bottom: -.75rem;
    display: flex;
    justify-content: center;
    border-radius: 0 0 0 1.25rem;
    z-index: 15;
}

.card-image-wrapper {
    width: 188px;
    border-radius: 50%;
    position: relative;
    z-index: 6;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    border-radius: 50%;
    border: 4px solid #0E811B;
}

.card-data {
    padding: 1.5rem 2rem;
    border-radius: 0 1.25rem 0 0;
    position: relative;
    text-align: center;
    background-color: white;
    z-index: 10;
}

/* .card-shadow {
    width: 200px;
    height: 200px;
    background-color: rgb(206, 176, 9);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
} */

.card-name {
    font-size: 20px;
    color: #0E811B;
    margin-bottom: .75rem;
}

.card-description {
    font-weight: 500;
    margin-bottom: 1.75rem;
}

/* .card-btn {
    display: inline-block;
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: green;
    font-weight: 600;
} */

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-next, 
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 3rem;
    /* display: none; */
    color: #000;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-btn {
    color: black;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: green;
}

@media screen and (max-width: 320px) {
    .card-data {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-content {
        margin-inline: 3rem;
    }

    .swiper-button-next, 
    .swiper-button-prev {
    display: block;
}
}

@media screen and (min-width: 1120px) {
    .card-container {
        max-width: 1120px;
    }

    .swiper-button-prev {
        left: -1rem;
    }
    
    .swiper-button-next {
        right: -1rem;
    }
}