@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    scroll-behavior:smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.home-hero {
    background-image: url(./assets/img/pic/image-14.png);
    /* opacity: 0.9; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    animation: fade 20s infinite linear;
    position: relative;
}

.hero-overlay {
    background: #000;
    opacity: 0.6;
    position: absolute;
    /* width: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.home-hero-txt {
    width: 60%;
    z-index: 2;
}

.home-hero-txt h1 {
    color: #FFF;
    /* background-color: #FFF; */
    /* padding: 1% 2%; */
    /* mix-blend-mode: screen; */
    /* border-radius: 0 32px 0 32px; */
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2%;
}

.home-hero-txt p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 200% */
}

.mobile-form {
    display: none;
}

form {
    width: 35%;
    background-color: #FFF;
    border-radius: 40px;
    padding: 2% 3% 3% 3%;
    z-index: 2;
}

.home-form-donation-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.home-form-donation-caption img {
    width: 4%;
}

.home-form-donation-caption h6 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.donation-form-title {
    display: flex;
    margin: 5% 0;
}

.one-time-donation-inactive.inactive {
    border: 1px solid #000;
    border-right: none;
    background: #FFF;
    color: #0E811B;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding: 1% 5%;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.one-time-donation-inactive.inactive:hover {
    border-right: 3px solid #FFF;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: #0E811B;
    color: #FFF;
}

.monthly-donation-active.active {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding: 1% 5%;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.monthly-donation-active.active:hover {
    background: #0c6c17;
    border: none;
    color: #FFF;
}

.one-time-btn {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 2% 5%;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.one-time-btn:hover {
    background: #0c6c17;
}

.monthly-btn {
    border: 1px solid #000;
    border-left: none;
    background: #FFF;
    color: #0E811B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 2% 5%;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.monthly-btn:hover {
    border-left: 2px solid #FFF;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background: #0E811B;
    color: #FFF;
}

.donation-form-selection {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 10%;
}

.donation-form-selection button {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 30%;
    padding: 2% 5%;
    border-radius: 6px;
    cursor: pointer;
}

.donation-btn-left.active, .donation-btn-middle.active, .donation-btn-right.active {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    width: 30%;
    padding: 2% 5%;
    border-radius: 6px;
    cursor: pointer;
}

.donation-form-selection button:hover {
    border: none;
    background: #0E811B;
    color: #FFF;
}

.donation-form-input {
    position: relative;
    margin-bottom: 15%;
}

.donation-form-input input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 2% 5%;
    outline: 0;
}

.tool-tip {
    position: absolute;
    top: -25%;
    left: 5%;
    display: none;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    border: none;
    color: #FFF;
    background-color: #0E811B;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    /* width: 50%; */
    padding: 2%;
    /* border-radius: 50px; */
}

.donation-form-input:hover .tool-tip{
    display: block;
}

.donation-form-input:hover ::placeholder{
   visibility: hidden;
}

.agreement {
    margin: 3% 0 30% 0;
    display: flex;
    align-items: center;
    gap: 3%;
 }
 
 .agreement input {
     height: 20px;
     width: 20px;
 }
 
 .agreement span {
     color: #000;
     font-size: 16px;
     font-weight: 500;
     line-height: normal;
 }

.hero-form-donate-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    background-color: #0E811B;
    color: #fff;
    border: none;
    padding: 2% 5%;
    transition: ease 0.2s;
    text-decoration: none;
    border-radius: 6px;
    position: relative;
}

.hero-form-donate-btn:hover {
    background-color: #0c6c17;
}

.hero-form-donate-btn img {
    width: 8%;
    vertical-align: middle;
    animation: ease-in-out;
}

.hero-form-donate-btn:hover img {
    display: none;
}

.hero-form-donate-btn .btn-img-animation {
    display: none;
    position: absolute;
    left: 3%;
    animation: scroll 1s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.hero-form-donate-btn:hover .btn-img-animation {
    display: block;
}

.hero-form-donate-btn p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    /* text-decoration: none; */
}

.home-partners {
    margin: 3% 0;
    padding: 1% 5%;
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.home-partners h5 {
    color: var(--Pry-color, #0E811B);
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom:  0%;
}

.home-partners-slider {
    /* margin: 5% 10%; */
    padding: 1% 0;
    /* position: relative; */
    /* box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25); */
    display: flex;
    gap: 35%;
    overflow: hidden;
}

.home-partners-slide {
    /* width: 100%; */
   animation: slideshow 8s linear infinite reverse;
   /* animation-fill-mode: both; */
   /* margin-right: 10%; */
   display: flex;
   gap: 5%;
   animation-iteration-count: infinite;
}

.home-partners-slide img {
    width: 30%;
    padding-right: 5%;
    padding-left: 5%;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.our-mission {
    display: flex;
    justify-content: flex-start;
    margin: 5%;
    position: relative;
}

.our-mission-img {
    width: 60%;
}

.our-mission-txt {
    width: 50%;
    opacity: 0.9;
    background: #0E811B;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3%;
    position: absolute;
    right: 0%;
    top: 22%;
}

.our-mission-txt h5 {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-mission-txt p {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
}

.our-work {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    position: relative;
}

.our-work-img {
    width: 60%;
}

.our-work-txt {
    width: 50%;
    opacity: 0.9;
    background: #0E811B;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3%;
    position: absolute;
    left: 0%;
    top: 18%;
}

.our-work-txt h5 {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-work-txt p {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    margin: 5% 0;
    padding: 3% 5%;
}

.stats-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.stats-img-1 {
    width: 15%;
}

.stats-img-2 {
    width: 15%;
}

.stats-img-3 {
    width: 12%;
}

.stats-details p {
    color: #0E811B;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
    text-align: center;
}

.our-cart-combact-hunger {
    display: flex;
    justify-content: flex-start;
    margin: 5%;
    position: relative;
}

.our-cart-combact-hunger-img {
    width: 60%;
}

.our-cart-combact-hunger-txt {
    width: 50%;
    opacity: 0.9;
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3%;
    position: absolute;
    right: 0%;
    top: 18%;
}

.our-cart-combact-hunger-txt h5 {
    color: var(--Pry-color, #0E811B);
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-cart-combact-hunger-txt p {
    color: var(--BLACK, #0D0A0B);
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
    margin-bottom: 5%;
}


.cart-link {
    color: #0E811B;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    width: 32%;
    padding: 2% 3%;
    text-align: center;
}

.cart-link:hover {
    color: #FFF;
    background-color: #0E811B;
}

article {
    margin: 5% 5% 1% 5%;
}

article h3 {
    color: var(--Pry-color, #0E811B);
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    background: var(--WHITE, #FFF);
    /* box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25); */
    margin: 0 auto 2% auto;
    width: 50%;
    /* padding-right: 20%; */
}

.home-article-container {
    display: flex;
    justify-content: space-between;
}

.home-article {
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    width: 31%;
}

.home-article-txt {
   padding: 2% 5%;
}

.home-article-txt a {
    color: #0E811B;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 3% 0;
    text-decoration: none;
}

.home-article-txt p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-top: 3%;
}

.home-article-link {
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
}

.home-article-link img {
    width: 10%;
}

.line-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5%;
}

.line-btn hr {
    width: 88.5%;
    border: 1px solid #0E811B;
}

.line-btn a {
    color: #0E811B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    border: 1px solid #0E811B;
    padding: 1%;
    border-radius: 6px;
    text-align: center;
}

.line-btn a:hover {
    color: #FFF;
    background-color: #0E811B;
}

.mission-target {
    margin: 0% 5% 0% 5%;
    background-color: #0E811B;
    padding: 3%;
}

.mission-target h3 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    margin: 0 auto 3% auto;
}

.mission-target p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.mission-target p span {
    font-weight: 600;
}

.mission-target-stats {
    display: flex;
    justify-content: space-between;
}

.mission-stats-title {
    width: 46%;
    margin: 3% 0 0 0;
}

.mission-stats-title p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.mission-stats-title p span {
    font-weight:  600;
}

.mission-stats-info {
    display: flex;
    align-items: center;
    gap: 5%;
}

.mission-stats-info img {
    width: 8%;
}

.mission-stats-info p {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

hr {
    border: 1px solid #FFF;
    margin: 5% 0;
}

.mission-target h4 {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2%;
}

.our-cart-last {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    position: relative;
}

.our-cart-last-img {
    width: 60%;
}

.our-cart-last-txt {
    width: 50%;
    position: absolute;
    left: 0%;
    top: 15%;
    opacity: 0.9;
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3% 3% 5% 3%;
}

.our-cart-last-txt h5 {
    color: #0E811B;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-cart-last-txt p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
    margin-bottom: 5%;
}

.fact-check-container {
    margin: 0% 5% 5% 5%;
}

.fact-check-container h3 {
    color: var(--Pry-color, #0E811B);
    font-size: 28px;
    font-weight: 600;
    line-height: 58px; /* 120.833% */
    margin-bottom: 2%;
}

.swiper {
    display: none !important;
}

.fact-check-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.fact-check {
    width: 30%;
    background-color: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 10% 2%;
    margin-bottom: 0%;
    color: #000;
    transition: ease 0.3s;
}

.fact-check:hover {
    background-color: #0E811B;
    color: #FFF;
    /* scale: 120%; */
}

.fact-check h5 {
    /* color: var(--BLACK, #0D0A0B); */
    font-size: 40px;
    font-weight: 700;
    line-height: 58px; /* 120.833% */
    text-transform: capitalize;
    text-align: center;
}

.fact-check p {
    /* color: #000; */
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    align-items: center;
}

.test {
    display: flex;
    animation: scroll 10s ;
}


/* Keyframe */
@keyframes fade {
    0%
    {
        background-image: url(./assets/img/pic/image-14.png);
    }

    40%
    {
        background-image: url(./assets/img/pic/image-22.png);
    }

    60%
    {
        background-image: url(./assets/img/pic/image-3.png);
    }

    80%
    {
        background-image: url(./assets/img/pic/image-1.png);
    }

    100%
    {
        background-image: url(./assets/img/pic/image-4.png);
    }
}

/* Mobile Screen */
@media screen and (max-width:478px) {
    .home-hero {
        background-image: url(./assets/img/pic/image-1.png);
        /* opacity: 0.9; */
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        animation: fade 20s infinite linear;
        position: relative;
    }
    
    .hero-overlay {
        background: #0202022a;
        opacity: 0.8;
        position: absolute;
        /* width: 100%; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    .home-hero-txt {
        width: 100%;
        z-index: 2;
        padding: 20% 0;
    }
    
    .home-hero-txt h1 {
        color: #FFF;
        /* background-color: #FFF; */
        /* padding: 1% 2%; */
        /* mix-blend-mode: screen; */
        /* border-radius: 0 32px 0 32px; */
        font-size: 24px;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
        margin-bottom: 3%;
        /* width: 50%; */
    }
    
    .home-hero-txt p {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        width: 80%;
    }
    
    .mobile-form {
        display: block;
    }

    .desktop-form {
        display: none;
    }

    form {
        width: 100%;
        background-color: #FFF;
        border-radius: 40px;
        padding: 3% 5% 5% 5%;
        z-index: 2;
        margin-top: 5%;
    }
    
    .home-form-donation-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }
    
    .home-form-donation-caption img {
        width: 6%;
    }
    
    .home-form-donation-caption h6 {
        font-size: 16px;
    }
    
    .donation-form-title {
        display: flex;
        margin: 5% 0;
    }
    
    .one-time-btn {
        font-size: 14px;
        font-weight: 600;
        padding: 2% 5%;
    }
    
    .one-time-btn:hover {
        background: #0c6c17;
    }
    
    .monthly-btn {
        font-size: 16px;
        font-weight: 600;
        width: 50%;
        padding: 2% 5%;
    }
    
    .monthly-btn:hover {
        border: 1px solid #000;
        background: #0E811B;
        color: #FFF;
    }
    
    .donation-form-selection {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10%;
    }
    
    .donation-form-selection button {
        font-size: 16px;
        font-weight: 600;
        padding: 2% 5%;
    }
    
    .donation-form-selection button:hover {
        border: 1px solid #000;
        background: #0E811B;
        color: #FFF;
    }
    
    .donation-form-input {
        position: relative;
        /* margin-bottom: 15%; */
    }
    
    .donation-form-input input {
        border: 1px solid #000;
        background: #FFF;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        padding: 2% 5%;
        outline: 0;
    }
    
    .tool-tip {
        position: absolute;
        top: -25%;
        left: 5%;
        display: none;
        transition: opacity 0.15s;
        pointer-events: none;
        white-space: nowrap;
        border: none;
        color: #FFF;
        background-color: #0E811B;
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
        /* width: 50%; */
        padding: 2%;
        /* border-radius: 50px; */
    }
    
    .donation-form-input:hover .tool-tip{
        display: block;
    }
    
    .donation-form-input:hover ::placeholder{
       visibility: hidden;
    }
    
    .agreement {
        margin: 5% 0 30% 0;
        display: flex;
        align-items: center;
        gap: 3%;
     }
     
     .agreement input {
         height: 18px;
         width: 18px;
     }
     
     .agreement span {
         font-size: 16px;
     }
    
    .hero-form-donate-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4%;
        align-items: center;
        background-color: #0E811B;
        color: #fff;
        border: none;
        padding: 2% 5%;
        transition: ease 0.2s;
        text-decoration: none;
        border-radius: 6px;
        position: relative;
    }
    
    .hero-form-donate-btn:hover {
        background-color: #0c6c17;
    }
    
    .hero-form-donate-btn img {
        width: 6%;
        vertical-align: middle;
        animation: ease-in-out;
    }
    
    .hero-form-donate-btn:hover img {
        display: none;
    }
    
    .hero-form-donate-btn .btn-img-animation {
        display: none;
        position: absolute;
        left: 3%;
        animation: scroll 1s linear infinite;
    }
    
    @keyframes scroll {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }
    
    .hero-form-donate-btn:hover .btn-img-animation {
        display: block;
    }
    
    .hero-form-donate-btn p {
        font-size: 16px;
    }

    .home-partners {
        margin: 10% 0 10% 0;
        padding: 2% 5%;
        background: #FFF;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    }
    
    .home-partners h5 {
        color: var(--Pry-color, #0E811B);
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-bottom: 2%;
    }
    
    .home-partners-slider {
        /* margin: 5% 10%; */
        padding: 2% 0;
        /* position: relative; */
        box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.5);
        display: flex;
        gap: 35%;
        overflow: hidden;
    }
    
    .home-partners-slide {
        /* width: 100%; */
       animation: slideshow 8s linear infinite reverse;
       /* animation-fill-mode: both; */
       /* margin-right: 10%; */
       display: flex;
       gap: 5%;
       animation-iteration-count: infinite;
    }
    
    .home-partners-slide img {
        width: 35%;
        padding-right: 5%;
        padding-left: 5%;
    }
    
    @keyframes slideshow {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(-100%);
        }
    }
    
    .our-mission {
        display: unset;
        /* flex-direction: column; */
        margin: 5%;
        position: unset;
    }
    
    .our-mission-img {
        width: 100%;
        background-color: #0E811B;
    }
    
    .our-mission-txt {
        width: 100%;
        opacity: 1;
        background: #0E811B;
        box-shadow: none;
        padding: 3%;
        position: unset;
        right: 0;
        bottom: 0;
    }
    
    .our-mission-txt h5 {
        font-size: 24px;
        margin-bottom: 3%;
    }
    
    .our-mission-txt p {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 40px; /* 200% */
        text-align: justify;
    }
    
    .our-work {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin: 5%;
        position: static;
    }
    
    .our-work-img {
        width: 100%;
        background-color: #0E811B;
    }
    
    .our-work-txt {
        width: 100%;
        opacity: 1;
        background: #0E811B;
        box-shadow: none;
        padding: 3%;
        position: static;
        left: 0%;
        top: 0%;
    }
    
    .our-work-txt h5 {
        font-size: 24px;
        margin-bottom: 3%;
    }
    
    .our-work-txt p {
        font-size: 16px;
    }
    
    .stats-container {
        display: flex;
        flex-direction: column;
        background: #FFF;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
        margin: 5% 0;
        padding: 3% 5%;
    }
    
    .stats-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-bottom: 10%;
    }
    
    .stats-img-1 {
        width: 30%;
    }
    
    .stats-img-2 {
        width: 25%;
    }
    
    .stats-img-3 {
        width: 20%;
    }
    
    .stats-details p {
        color: #0E811B;
        font-size: 16px;
        line-height: normal;
    }
    
    .our-cart-combact-hunger {
        display: flex;
        flex-direction: column;
        margin: 5%;
        position: static;
    }
    
    .our-cart-combact-hunger-img {
        width: 100%;
    }
    
    .our-cart-combact-hunger-txt {
        width: 100%;
        opacity: 1;
        background: #FFF;
        box-shadow: none;
        padding: 3%;
        position: static;
        right: 0%;
        top: 0%;
    }
    
    .our-cart-combact-hunger-txt h5 {
        font-size: 18px;
        margin-bottom: 3%;
    }
    
    .our-cart-combact-hunger-txt p {
        color: var(--BLACK, #0D0A0B);
        font-size: 16px;
        line-height: normal;
        text-align: justify;
        margin-bottom: 10%;
    }
    
    
    .cart-link {
        color: #0E811B;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
        width: unset;
        padding: 3% 5%;
        margin-top: 3%;
        display: unset;
    }
    
    .cart-link:hover {
        color: #FFF;
        background-color: #0E811B;}
    
    article {
        margin: 5%;
    }
    
    article h3 {
        color: var(--Pry-color, #0E811B);
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        background: var(--WHITE, #FFF);
        box-shadow: none;
        margin-bottom: 5%;
        width: 90%;
    }
    
    .home-article-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .home-article {
        background: #FFF;
        box-shadow: none;
        width: 100%;
    }
    
    .home-article-txt {
       padding: 2% 5%;
    }
    
    .home-article-txt h5 {
        font-size: 24px;
        margin: 3% 0;
    }
    
    .home-article-txt p {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px; /* 200% */
    }
    
    .home-article-link {
        margin-top: 3%;
        display: flex;
        justify-content: flex-end;
    }
    
    .home-article-link img {
        width: 8%;
    }
    
    .line-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
    }
    
    .line-btn hr {
        width: 70%;
        border: 1px solid #0E811B;
    }
    
    .line-btn a {
        font-size: 15px;
        font-weight: 600;
        padding: 2% 2%;
        width: 30%;
        text-align: center;
    }
    
    .line-btn a:hover {
        color: #FFF;
        background-color: #0E811B;
    }
    
    .mission-target {
        margin: 5%;
        background-color: #0E811B;
        padding: 3%;
    }
    
    .mission-target h3 {
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
        width: 70%;
        margin: 0 auto 3% auto;
    }
    
    .mission-target p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px; /* 200% */
    }
    
    .mission-target-stats {
        display: flex;
        justify-content: space-between;
    }
    
    .mission-stats-title {
        width: 45%;
        margin: 3% 0 0 0;
    }
    
    .mission-stats-title p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px; /* 200% */
    }
    
    .mission-stats-title p span {
        font-weight:  500;
    }
    
    .mission-stats-info {
        display: flex;
        align-items: center;
        gap: 5%;
    }
    
    .mission-stats-info img {
        width: 14%;
    }
    
    .mission-stats-info p {
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px; /* 200% */
    }
    
    hr {
        border: 1px solid #FFF;
        margin: 5% 0;
    }
    
    .mission-target h4 {
        font-size: 22px;
        width: 70%;
        text-align: center;
        margin: 0 auto 2% auto;
    }
    
    .our-cart-last h5 {
        color: #0E811B;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 3%;
    }
    
    .our-cart-last p {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px; /* 200% */
        text-align: justify;
    }
    
    .our-cart-last {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin: 5%;
        position: static;
    }
    
    .our-cart-last-txt {
        width: 100%;
        position: static;
        left: 0%;
        top: 0%;
        opacity: 1;
        background: #FFF;
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
        padding: 3% 3% 5% 3%;
    }
    
    .our-cart-last-img {
        width: 100%;
    }
    
    .fact-check-container {
        margin: 5%;
    }
    
    .fact-check-container h3 {
        color: var(--Pry-color, #0E811B);
        font-size: 24px;
        font-weight: 600;
        line-height: 58px; /* 120.833% */
        margin-bottom: 2%;
        text-align: center;
    }

    .fact-check-mobile-container {
        max-width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
    }
    
    .card-container {
        /* padding: 3%; */
        padding: 5rem;
    }
    
    .card-content {
        margin-inline: 1.75rem;
        border-radius: 1.25rem;
        overflow: hidden;
    }
    
    .fact-check-cart {
        display: none;
        /* justify-content: unset;
        gap: 5%; */
    } 

    /* .fact-check {
        width: 100%;
        background-color: #FFF;
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
        padding: 10% 2%;
        margin-bottom: 0%;
        color: #000;
        transition: ease 0.3s;
    } */

    .swiper {
        display: flex !important;
        width: 100%;
        height: fit-content;
    }

    .fact-check {
        width: 50%;
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
        padding: 3% 2%;
        margin-bottom: 5%;
        transition: ease 0.3s;
        float: right;
        border: 0.1px solid #0E811B;
    }
    
    .fact-check:hover {
        background-color: #0E811B;
        color: #FFF;
        scale: 120%;
    }
    
    .fact-check h5 {
        /* color: var(--BLACK, #0D0A0B); */
        font-size: 28px;
        font-weight: 700;
        line-height: 58px; /* 120.833% */
        text-transform: capitalize;
        text-align: center;
    }
    
    .fact-check p {
        /* color: #000; */
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
        text-transform: capitalize;
        align-items: center;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none !important;
    }
}

