@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    scroll-behavior:smooth;
}

img {
    width: 100%;
}

.home-hero {
    background-image: url(./assets/img/pic/image-1.png);
    /* opacity: 0.9; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    animation: fade 20s infinite linear;
    position: relative;
}

.hero-overlay {
    background: #0202022a;
    opacity: 0.8;
    position: absolute;
    /* width: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.home-hero-txt {
    width: 60%;
    z-index: 2;
}

.home-hero-txt h1 {
    color: #FFF;
    /* background-color: #FFF; */
    /* padding: 1% 2%; */
    /* mix-blend-mode: screen; */
    /* border-radius: 0 32px 0 32px; */
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2%;
}

.home-hero-txt p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 200% */
}

form {
    width: 35%;
    background-color: #FFF;
    border-radius: 40px;
    padding: 3% 3% 5% 3%;
    z-index: 2;
}

.home-form-donation-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.home-form-donation-caption img {
    width: 4%;
}

.home-form-donation-caption h6 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.donation-form-title {
    display: flex;
    margin: 5% 0;
}

.one-time-btn {
    border: none;
    background: #0E811B;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 4% 5%;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.one-time-btn:hover {
    background: #0c6c17;
}

.monthly-btn {
    border: 1px solid #000;
    border-left: none;
    background: #FFF;
    color: #0E811B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    padding: 4% 5%;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.monthly-btn:hover {
    border: 1px solid #000;
    background: #0E811B;
    color: #FFF;
}

.donation-form-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.donation-form-selection button {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 30%;
    padding: 4% 5%;
    border-radius: 6px;
    cursor: pointer;
}

.donation-form-selection button:hover {
    border: 1px solid #000;
    background: #0E811B;
    color: #FFF;
}

.donation-form-input {
    position: relative;
}

.donation-form-input input {
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 4% 5%;
    outline: 0;
}

.tool-tip {
    position: absolute;
    top: -25%;
    left: 5%;
    display: none;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    border: none;
    color: #FFF;
    background-color: #0E811B;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    /* width: 50%; */
    padding: 2%;
    /* border-radius: 50px; */
}

.donation-form-input:hover .tool-tip{
    display: block;
}

.donation-form-input:hover ::placeholder{
   visibility: hidden;
}

.agreement {
    margin: 3% 0 30% 0;
    display: flex;
    align-items: center;
    gap: 3%;
 }
 
 .agreement input {
     height: 20px;
     width: 20px;
 }
 
 .agreement span {
     color: #000;
     font-size: 16px;
     font-weight: 500;
     line-height: normal;
 }

.hero-form-donate-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    background-color: #0E811B;
    color: #fff;
    border: none;
    padding: 4% 5%;
    transition: ease 0.2s;
    text-decoration: none;
    border-radius: 6px;
    position: relative;
}

.hero-form-donate-btn:hover {
    background-color: #0c6c17;
}

.hero-form-donate-btn img {
    width: 8%;
    vertical-align: middle;
    animation: ease-in-out;
}

.hero-form-donate-btn:hover img {
    display: none;
}

.hero-form-donate-btn .btn-img-animation {
    display: none;
    position: absolute;
    left: 3%;
    animation: slideshow 1s linear infinite;
}

@keyframes slideshow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.hero-form-donate-btn:hover .btn-img-animation {
    display: block;
}

.hero-form-donate-btn p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    /* text-decoration: none; */
}

.home-partners {
    margin: 5% 0;
    padding: 2% 5%;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.home-partners h5 {
    color: var(--Pry-color, #0E811B);
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 2%;
}

.home-partners-slider {
    /* margin: 5% 10%; */
    padding: 2% 0;
    /* position: relative; */
    box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 35%;
    overflow: hidden;
}

.home-partners-slide {
    /* width: 100%; */
   animation: slideshow 8s linear infinite reverse;
   /* animation-fill-mode: both; */
   /* margin-right: 10%; */
   display: flex;
   gap: 5%;
   animation-iteration-count: infinite;
}

.home-partners-slide img {
    width: 30%;
    padding-right: 5%;
    padding-left: 5%;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.our-mission {
    display: flex;
    justify-content: flex-start;
    margin: 5%;
    position: relative;
}

.our-mission-img {
    width: 60%;
}

.our-mission-txt {
    width: 50%;
    opacity: 0.9;
    background: #0E811B;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3%;
    position: absolute;
    right: 0%;
    top: 24%;
}

.our-mission-txt h5 {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-mission-txt p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
}

.our-work {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    position: relative;
}

.our-work-img {
    width: 60%;
}

.our-work-txt {
    width: 50%;
    opacity: 0.9;
    background: #0E811B;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3%;
    position: absolute;
    left: 0%;
    top: 20%;
}

.our-work-txt h5 {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-work-txt p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    margin: 5% 0;
    padding: 3% 5%;
}

.stats-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.stats-img-1 {
    width: 15%;
}

.stats-img-2 {
    width: 15%;
}

.stats-img-3 {
    width: 12%;
}

.stats-details p {
    color: #0E811B;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; 
    text-align: center;
}

.our-cart-combact-hunger {
    display: flex;
    justify-content: flex-start;
    margin: 5%;
    position: relative;
}

.our-cart-combact-hunger-img {
    width: 60%;
}

.our-cart-combact-hunger-txt {
    width: 60%;
    opacity: 0.9;
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3%;
    position: absolute;
    right: 0%;
    top: 15%;
}

.our-cart-combact-hunger-txt h5 {
    color: var(--Pry-color, #0E811B);
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-cart-combact-hunger-txt p {
    color: var(--BLACK, #0D0A0B);
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
}


.cart-link a {
    color: #0E811B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}

.cart-link {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    width: 32%;
    padding: 2% 0 2% 3%;
    margin-top: 3%;
}

article {
    margin: 5%;
}

article h3 {
    color: var(--Pry-color, #0E811B);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    background: var(--WHITE, #FFF);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
    width: 75%;
}

.home-article-container {
    display: flex;
    justify-content: space-between;
}

.home-article {
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    width: 31%;
}

.home-article-txt {
   padding: 2% 5%;
}

.home-article-txt h5 {
    color: #0E811B;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 3% 0;
}

.home-article-txt p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.home-article-link {
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
}

.home-article-link img {
    width: 10%;
}

.line-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.line-btn hr {
    width: 85%;
    border: 2px solid #0E811B;
}

.line-btn a {
    color: #0E811B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    border: 1px solid #0E811B;
    padding: 1%;
    border-radius: 6px;
}

.mission-target {
    margin: 5%;
    background-color: #0E811B;
    padding: 3%;
}

.mission-target h3 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    width: 70%;
    margin: 0 auto 3% auto;
}

.mission-target p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.mission-target-stats {
    display: flex;
    justify-content: space-between;
}

.mission-stats-title {
    width: 45%;
    margin: 3% 0 0 0;
}

.mission-stats-title p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.mission-stats-title p span {
    font-weight:  500;
}

.mission-stats-info {
    display: flex;
    align-items: center;
    gap: 5%;
}

.mission-stats-info img {
    width: 12%;
}

.mission-stats-info p {
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
}

hr {
    border: 1px solid #FFF;
    margin: 5% 0;
}

.mission-target h4 {
    color: #FFF;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2%;
}

.our-cart-last h5 {
    color: #0E811B;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3%;
}

.our-cart-last p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px; /* 200% */
    text-align: justify;
}

.our-cart-last {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    position: relative;
}

.our-cart-last-txt {
    width: 60%;
    position: absolute;
    left: 0%;
    top: 12%;
    opacity: 0.9;
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 3% 3% 5% 3%;
}

.our-cart-last-img {
    width: 60%;
}

.fact-check-container {
    margin: 5%;
}

.fact-check-container h3 {
    color: var(--Pry-color, #0E811B);
    font-size: 40px;
    font-weight: 600;
    line-height: 58px; /* 120.833% */
    margin-bottom: 2%;
}

.fact-check-cart {
    display: flex;
    justify-content: space-between;
}

.fact-check {
    width: 31%;
    background-color: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 10% 2%;
    margin-bottom: 5%;
    color: #000;
    transition: ease 0.3s;
}

.fact-check:hover {
    background-color: #0E811B;
    color: #FFF;
    /* scale: 120%; */
}

.fact-check h5 {
    /* color: var(--BLACK, #0D0A0B); */
    font-size: 48px;
    font-weight: 700;
    line-height: 58px; /* 120.833% */
    text-transform: capitalize;
    text-align: center;
}

.fact-check p {
    /* color: #000; */
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    align-items: center;
}

.test {
    display: flex;
    animation: scroll 10s ;
}


/* Keyframe */
@keyframes fade {
    0%
    {
        background-image: url(./assets/img/pic/image-1.png);
    }

    0%
    {
        background-image: url(./assets/img/pic/image-2.png);
    }

    40%
    {
        background-image: url(./assets/img/pic/image-3.png);
    }

    60%
    {
        background-image: url(./assets/img/pic/image-4.png);
    }

    80%
    {
        background-image: url(./assets/img/pic/image-5.png);
    }

    100%
    {
        background-image: url(./assets/img/pic/image-6.png);
    }
}

